@import '../../../../../../variableSCSS.scss';
.wrapper {
    .add {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        .icon {
            font-size: 28px;
            color: #ccc;
            transition: $transition;
        }
        .separate {
            transition: $transition;
            border: 1px dotted #ccc;
            flex: 1;
        }
        &:hover {
            .separate {
                border-color: $orangeColor;
            }
            .icon {
                color: $orangeColor;
            }
        }
    }
    .before {
        margin-bottom: 8px;
    }
    .after {
        margin-top: 8px;
    }

    .body {
        padding: 24px 24px;
        background: white;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border: 1px solid rgb(224, 224, 218);
        transition: $transition;
        &.isActiveQuestion {
            border-left: 6px solid $orangeColor;
        }

        .question {
            font-weight: 500;
        }
    }

    .question-wrapper {
        display: flex;
        // align-items: center;
        gap: 12px;
    }

    .icon {
        font-size: 100px;
    }

    .input-image-wrapper {
        input {
            display: none;
        }
    }

    .image-question {
        width: 360px;
        height: 360px;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .remove-image-button {
            position: absolute;
            top: 8px;
            right: 8px;
        }
    }

    &.responsive {
        @media (max-width: 768px) {
            .inner {
                width: 90%;
            }
            .select {
                font-size: 14px;
                width: 100px;
            }

            .MuiSelect-select {
                width: 120px;
            }
        }
    }
}
