@import '../../../../variableSCSS.scss';

.wrapper {
    margin-top: 12px;
    position: relative;
    overflow-y: hidden;

    .inner {
        display: flex;
        overflow-x: auto;

        .table {
            border-collapse: separate;
            border-spacing: 0 4px;
            width: 100%;
            table-layout: fixed;
            thead tr th {
                padding-bottom: 12px;
                font-weight: 400;
                padding-left: 4px;
                padding-right: 4px;
            }
            thead tr th {
                height: 60px;
            }
            tbody tr td {
                text-align: center;
                height: 56px;
                padding-left: 8px;
            }
            tbody tr {
                background-color: #fafaf8;
            }
        }
    }
    .pseudo-wrapper {
        position: absolute;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100px;
        height: 100%;
        background-color: white;
        .pseudo-table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0 6px;
            thead tr th {
                padding-bottom: 12px;
                font-weight: 400;
                height: 60px;
            }
            tbody tr td {
                text-align: center;
                height: 56px;
                padding-left: 8px;
            }
            tbody tr {
                background-color: #fafaf8;
            }
        }
    }
}
