@import '../../variableSCSS.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .answer-text {
        background-color: #f6f5f4;
        padding: 10px;
        border-radius: 6px;

        p {
            word-break: break-all;
        }
    }
}
