@import '../../../../../../variableSCSS.scss';
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .option-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .other {
        border-bottom: 1px dotted rgba(0, 0, 0, 0.38);
        padding-bottom: 4px;
        margin-left: 2px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 15px;
    }
    .add-option-other {
        margin-top: 12px;
        display: inline-flex;

        gap: 8px;
        color: rgb(119, 113, 105);
    }

    .add-option {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
        &:hover {
            .underline {
                opacity: 1;
            }
        }
        p {
            letter-spacing: 0.2px;
        }
        .underline {
            margin-top: 2px;
            opacity: 0;
            height: 1px;
            background-color: rgb(224, 224, 218);
        }
    }

    .add-other {
        span {
            color: $orangeColor;
            cursor: pointer;
        }
    }
}
