@import '../../../../variableSCSS.scss';

.wrapper {
    padding: 24px 24px;
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    border: 1px solid rgb(224, 224, 218);

    &.isErrorForm {
        border: 1px solid $redColor;
    }

    .question-wrapper {
        .question {
            font-size: 18px;
            font-weight: 600;
        }

        .required {
            color: red;
            margin-left: 4px;
        }
    }

    .description {
        margin-top: 4px;
        color: #494740;
    }
}
