@import '../../../variableSCSS.scss';

.wrapper {
    .title {
        font-weight: 400;
    }
    .toolbar {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
        border-bottom: 1px solid rgb(218, 220, 224);
    }
    .tab-list {
        display: flex;

        .tab {
            cursor: pointer;
            padding: 6px 30px;
            font-size: 14px;
            font-weight: 600;
            position: relative;
            color: #866e29;
            transition: $transition;
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;

            .icon {
                color: rgb(60, 64, 67);
                font-size: 28px;
            }
        }
        .tab:hover {
            background-color: rgba(179, 184, 128, 0.08);
        }
        .tab.active a::before,
        .tab:hover a::before {
            width: 100%;
        }

        .tab.active .icon {
            color: #bfa044;
        }

        .tab a {
            &::before {
                position: absolute;
                bottom: 0px;
                content: '';
                width: 0px;
                background-color: #bfa044;
                height: 4px;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                right: 0;
                transition: all 0.3s ease-in-out;
            }
        }
    }

    .social {
        .icon {
            color: #757575;
            font-size: 32px;
            cursor: pointer;
        }
    }
}
