@import '../../variableSCSS.scss';
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .header {
        background-color: white;
        // padding: 12px 20px 0px 20px;
        padding-top: 12px;
    }

    .toolbar {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
    .item-toolbar {
        padding: 8px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: rgba(95, 99, 104, 0.04);
        }
    }
    .left {
        display: flex;
        align-items: center;
        gap: 12px;
        .survey-about {
            .survey-status {
                margin-top: 4px;
                background-color: #fdde86;
                text-align: center;
                font-weight: 600;
                color: rgb(255, 255, 255);
                display: inline-block;
                padding: 2px 8px;
                min-width: 100px;
                border-radius: 4px;
            }
        }
    }

    .logo-wrapper {
        width: 70px;
    }

    .logo {
        width: 100%;
        object-fit: cover;
    }

    .right {
        align-items: center;
        gap: 12px;
        display: flex;
    }

    .three-dot {
    }

    .tab-list {
        display: flex;

        justify-content: center;
        border-bottom: 1px solid rgb(218, 220, 224);

        .tab {
            cursor: pointer;
            padding: 6px 16px;
            font-size: 14px;
            font-weight: 600;
            position: relative;
            color: #866e29;
            transition: $transition;
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;
        }
        .tab:hover {
            background-color: rgba(179, 184, 128, 0.08);
        }
        .tab.active a::before,
        .tab:hover a::before {
            width: 100%;
        }

        .tab a {
            &::before {
                position: absolute;
                bottom: 0px;
                content: '';
                width: 0px;
                background-color: #e0ad12;
                height: 4px;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                right: 0;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}
