@import '../../variableSCSS.scss';
.wrapper {
    .form {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    h2 {
        font-size: 48px;
        margin-bottom: 48px;
        text-align: center;
    }

    .forgot-password {
        align-self: flex-end;
        margin-top: 12px;
        display: inline-block;
        font-size: 14px;
        text-decoration: underline;
        transition: $transition;
        cursor: pointer;
        &:hover {
            color: $mainColor;
        }
    }
    .confirm-not-have-account {
        display: flex;
        gap: 8px;
        justify-content: flex-end;
        margin: 20px 0;
        span {
            font-size: 15px;
        }
        a {
            font-size: 15px;
            color: $mainColor;
            text-decoration: underline;
            cursor: pointer;
            font-weight: 600;
        }
    }

    .separate {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 16px 0;
        div {
            flex: 1;
            height: 0.5px;
            background-color: #ccc;
        }
        span {
            color: #969595;
        }
    }

    .login-google {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        border: 1.5px solid #ccc;
        border-radius: 12px;
        padding: 8px 12px;
        transition: $transition;
        cursor: pointer;

        &:hover {
            border-color: rgb(156 163 175);
        }
        img {
            width: 28px;
            height: 28px;
            object-fit: cover;
        }
        span {
            font-weight: 500;
            font-size: 15px;
        }
    }
}
