@import '../../variableSCSS.scss';

.wrapper {
    .body {
        width: 60%;
    }
    .form {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    h2 {
        font-size: 48px;
        margin-bottom: 48px;
        text-align: center;
    }
    .forgot-password {
        align-self: flex-end;
        margin-top: 12px;
        display: inline-block;
        font-size: 14px;
        text-decoration: underline;
        transition: $transition;
        cursor: pointer;
        &:hover {
            color: $mainColor;
        }
    }
    .back-login {
        margin-top: 12px;
        text-align: right;
        a {
            font-size: 15px;
            text-decoration: underline;
            cursor: pointer;

            transition: $transition;
            &:hover {
                color: $mainColor;
            }
        }
    }

    &.responsive {
        @media (max-width: 1024px) {
            h2 {
                font-size: 40px;
            }
        }
        @media (max-width: 768px) {
            h2 {
                font-size: 36px;
            }
        }
    }
}
