@import '../../variableSCSS.scss';
.wrapper {
    display: flex;
    min-height: 100vh;
    .left-side {
        width: 36%;
        position: relative;
        background-color: $mainColor;
        .app {
            margin-top: 32px;
            margin-left: 32px;
            display: flex;
            gap: 16px;
            align-items: center;
            cursor: pointer;

            span {
                font-size: 48px;
                font-weight: 700;
                color: white;
            }
        }
        .logo-container {
            background-color: white;
            width: 72px;
            height: 72px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            padding-left: 12px;
            padding-right: 16px;
            padding-top: 12px;
            padding-bottom: 12px;
            img {
                width: 56px;
            }
        }

        .imageSignup {
            width: 450px;
            object-fit: cover;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -140px;
        }
    }

    .right-side {
        background-color: $mainColor;
        flex: 1;
    }

    .inner {
        background-color: white;
        height: 100%;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
        display: flex;
        justify-content: center;
        padding-top: 100px;

        .body {
            width: 60%;
        }
    }

    &.responsive {
        @media (max-width: 1024px) {
            background-color: $mainColor;
            .left-side {
                .logo-container {
                    width: 60px;
                    height: 60px;

                    img {
                        width: 46px;
                    }
                }

                .app {
                    span {
                        font-size: 40px;
                    }
                }

                .imageSignup {
                    width: 400px;
                    right: -100px;
                }
            }
        }

        @media (max-width: 768px) {
            flex-direction: column;

            .left-side {
                width: 100%;

                .imageSignup {
                    width: 220px;
                    top: 0%;
                    transform: translateY(0);
                    right: 0;
                }
            }

            .right-side {
                margin-top: 20px;
                display: flex;
                flex-direction: column;

                .inner {
                    border-bottom-left-radius: 0;
                    border-top-right-radius: 40px;

                    flex: 1;
                }
            }
        }

        @media (max-width: 500px) {
            flex-direction: column;

            .left-side {
                .logo-container {
                    width: 50px;
                    height: 50px;

                    img {
                        width: 40px;
                    }
                }

                .app {
                    span {
                        font-size: 36px;
                    }
                }
                .imageSignup {
                    width: 180px;
                    top: 0%;
                    transform: translateY(0);
                    right: 0;
                }
            }

            .right-side {
                margin-top: 20px;
            }
        }
        @media (max-width: 400px) {
            flex-direction: column;

            .left-side {
                .logo-container {
                    width: 42px;
                    height: 42px;

                    img {
                        width: 30px;
                    }
                }

                .app {
                    span {
                        font-size: 24px;
                    }
                }
                .imageSignup {
                    width: 130px;
                    top: 0%;
                    transform: translateY(0);
                    right: 0;
                }
            }

            .right-side {
                margin-top: 20px;
            }
        }
    }
}
