@import '../../variableSCSS.scss';

.wrapper {
    display: flex;
    justify-content: space-around;
    padding: 0px 60px;

    .color-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .color-component {
        display: flex;
        align-items: center;
        gap: 6px;
        span {
            font-size: 14px;
        }
    }
}
