@import '../../../../../../variable.scss';
.wrapper {
    margin-top: 30px;
    border-top: 1px solid rgb(224, 224, 218);
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    padding: 20px 0px 0px 12px;

    padding-bottom: 0px;
    align-items: center;

    &.isOpenSnackbar {
        display: none;
    }
    .item-toolbar {
        padding: 8px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: rgba(95, 99, 104, 0.04);
        }
    }

    .divider {
        height: 32px;
        width: 1px;
        background-color: #ccc;
    }
}
