.wrapper {
    padding: 0 16px;

    .list-surveys {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .sectionData {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .filter {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}
