@import '../../variableSCSS.scss';

.wrapper {
    transition: $transition;
    .form {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    h2 {
        font-size: 48px;
        margin-bottom: 48px;
        text-align: center;
    }
    .confirm-have-account {
        display: flex;
        gap: 8px;
        justify-content: flex-end;
        margin: 20px 0;
        span {
            font-size: 15px;
        }
        a {
            font-size: 15px;
            color: $mainColor;
            text-decoration: underline;
            cursor: pointer;
            font-weight: 600;
        }
    }

    .error-message {
        margin-top: 4px;
        font-size: 14px;
        color: #db4437;
    }
}
