$primary-color: #5372f0;
$textColor: rgb(36 35 32);
$subTextColor: rgb(104, 103, 95);
$transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
$mainColor: #fcc934;
$orangeColor: #ed6c02;
$redColor: #db4437;
$blueColor: #4285f4;
$greenColor: #35ca97;

// rgb(36 35 32);
